:root {
    --main-text-color:#212121;
    --secondary-text-color:#757575;
    --accent-color:#2196f3;
    --first-title-color:#FFFFFF;
    --second-title-color:#212121;
    --first-button-text-color:#212121;
    --second-button-text-color:#ffffff; 
    --background-header-color:#FFFFFF;
    --background-main-color:#F5F4FA;
    --background-footer-hero-color:#2F303A;

}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color)
}

/*---------------HEADER---------------*/
.logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color)
}

.logo-part {
    color: #000      
}

.link {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    /*color: var(--main-text-color);*/
    color: inherit;
}   

.interactive:hover,
.interactive:focus {
    color: var(--accent-color);
}

.header-link-mail,
.header-link-tel {
    color: var(--secondary-text-color);
}

/*---------------HERO---------------*/
.hero {
    background-color:var(--background-footer-hero-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--first-title-color);
}

.hero-btn {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3; 
}*/
/*---------------FOOTER---------------*/
.footer {
    background-color:var(--background-footer-hero-color);
}

.footer-list, .footer-item {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-link-way,
.footer-link-mail,
.footer-link-tel {
    color: var(--secondary-text-color);
}

/*----------------обнуляшки-----------*/
.list {
    list-style: none;
}
.project {
    text-decoration: none;
}
p {
    margin: 0;
    text-decoration: none;
}
a {
    text-decoration: none;
}